.ModuleDetail {
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  &-content {
    margin: 1% auto;
    background-color: white;
    height: 95vh;
    width: 95vw;
    padding: 20px;
  }
  &-close {
    color: #aaa;
    float: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    &::after {
      content: '✖';
    }
  }
}
.tree {
 height: 90vh;
 width: 90vw;
 overflow: hidden;
 overflow-x: scroll;
 overflow-y: scroll;
 margin: auto;
 padding: 0;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

