#main {
  float: left;
  width: 750px;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  width: 600px;
  height: 70px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 125px;
  left: 80px;
  width: 140px;
  text-align: center;
  color: #666;
}

#sizeOfModule {
  font-size: 1.5em;
}

.ModuleDetail {
  height: 100%;
  width: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  &-content {
    background-color: white;
    height: 100%;
    width: 98%;
    padding: 20px;
  }
  &-close {
    color: #aaa;
    float: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    &::after {
      content: '✖';
    }
  }

  &-List {
    font: 13px "consolas Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width:100%;
    margin-bottom:20px;
    overflow:hidden;
  }
  &-ListItem {
    line-height:1.5em;
    padding: 1%;
    border-bottom:1px solid #ccc;
    float:left;
    width: 50%;
    list-style: none
  }
  &-LeftPane {
    background-color: hsla(31,15%,50%,.1);
    width: 30%;
  }
}