.ModuleDetail {
  height: 100%;
  width: 100%;
  background-color: rgba(100, 100, 100, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  &-content {
    margin: 1% auto;
    background-color: white;
    height: 95vh;
    width: 95vw;
    padding: 20px;
  }
  &-close {
    color: #aaa;
    float: right;
    text-decoration: none;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
    &::after {
      content: '✖';
    }
  }

  &-List {
    font: 13px "consolas Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width:100%;
    margin-bottom:20px;
    overflow:hidden;
  }
  &-ListItem {
    line-height:1.5em;
    padding: 1%;
    border-bottom:1px solid #ccc;
    float:left;
    width: 50%;
    list-style: none
  }
  &-LeftPane {
    background-color: hsla(31,15%,50%,.1);
    width: 30%;
  }
}